
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~font-awesome/scss/font-awesome';

body {
    padding-top: 9.7rem;
    min-height: 100vh;
    background-color: #fff
}

.alert {
    padding: 7px;
    margin-bottom: 0;
}

main {
        
}
#banner-01 {
    background-color: #ccc;
    width: 100%;
    height: 480px
}
#banner-02 {
    background-color: #ccc;
    width: 100%;
    height: 200px
}
#banner-03 {
    background-color: #ccc;
    width: 100%;
    height: 200px
}
#explications {
    background-color: #ccc;
    width: 100%;
    height: 200px
}   

.btn-demo {
    display: block;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    -webkit-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
    font-size: 13px;
}

.btn-demo:hover {
    border: 2px solid #fff;
    color: #fff;
}

.number-of-cards {
    padding-top: 10px;
    text-align: center;
    color: white;
}   

.fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
}

.fade-enter-active {
    transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

.modal-demo .scratchpad canvas, .scratchpad img {
    left: 0 !important;
    right: 0 !important;
}

.loading {
    background-image: url("/img/load.gif");
    min-height: 200px;
    min-width: 200px;
    background-repeat: no-repeat;
    display: inline-block;
}

.hide {
	display: none !important;
}
.no-padding {
    padding: 0;
}

.page-header {
    color: #000;
    padding-bottom: 10px;
    margin: 44px 0 22px;
    border-bottom: 1px solid #eeeeee;
}

button.close {
    right: 4px;
    top: -2px;
    position: absolute;
}

.vcenter {
    display: flex;
    align-items: center;
}

.vcenter-end {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { 
    	transform: scale(1) rotate(0deg);
    }
    to { 
    	transform: scale(1) rotate(360deg);
    }
}
  
@-webkit-keyframes spinw {
    from { 
    	-webkit-transform: rotate(0deg);
    }
    to { 
    	-webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinm {
    from { 
    	-moz-transform: rotate(0deg);
    }
    to { 
    	-moz-transform: rotate(360deg);
    }
}

 .modal-xl {
    max-width: 98% !important;
}

@media (min-width: 1300px)  {
    .modal-demo .scratchpad {
        min-height: 105px !important;
        margin-bottom: 12px;
    }
}

@media (min-width: 992px)  {
    .modal-demo .scratchpad {
        min-height: 90px;
        margin-bottom: 12px;
    }
    .modal-xl {
        max-width: 75% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .modal-demo .scratchpad {
        min-height: 70px;
        margin-bottom: 12px;
    }
}

@media (max-width: 767px){
    .navbar-brand {
        width: 100% !important;
    }
    .navbar-brand img {
        height: 50px !important;
        width: 150px !important;
    }
    .modal-demo .scratchpad {
        min-height: 50px;
        margin-bottom: 12px;
    }
    .modal-xl {
        max-width: 98% !important;
    }
    .btn-game { 
        font-size: 15px !important;
    }
}

@media (max-width: 747px) {
    .navbar-brand {
        width: 100% !important;
    }
    .navbar-brand img {
        height: 50px !important;
        width: 150px !important;
    }
    .navbar-right {
        width: 100% !important;
    }
}

@media (max-width: 576px) {
    .btn-game { 
        margin-top: 10px;
        font-size: 15px !important;
    }
    .btn-result {
        font-size: 12px !important;
        margin-bottom: 10px;
    }
    .item-cart .cart-right .cart-value {
        display: none !important;
    }
    .item-cart .cart-right .cart-checkout-now {
        display: none !important;
    }
    .item-account span {
        display: none !important;
    }
    .item-balance span {
        display: none !important;
    }

    .tab-lotteries .btn {
        padding: 0 !important;
        display: block;
    }

    .tab-scratch_cards .btn {
        padding: 0 !important;
        display: block;
    }

    .tab-all .btn {
        padding: 0 !important;
        display: block;
    }

    .tab-soccer_experts .btn {
        padding: 0 !important;
        display: block;
    }

    .header-items i {
        margin-right: 0 !important;
    }
}

.input-group-addon:not(:last-child) {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #464a4c;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.input-group-addon {
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.sub-navigation {
    width: 100%;
    height: 42px;
    margin-bottom: 36px;
    margin-top: 24px;
    display: table;
    font-weight: 700;
    border-radius: 5px;
    background: #ccc;
    font-size: 0;
    table-layout: fixed;
}

.sub-navigation > a:hover {
    background-color: #f2f2f2;
    background-image: none;
    color: #97bd00;
}

.sub-navigation > a.active {
    background: #ffe066;
    box-shadow: inset 0 3px 0 -1px rgba(0,0,0,.2);
    color: #535353;
    cursor: default;
    padding-top: 1px;
}

.sub-navigation > a:first-child {
    border-radius: 5px 0 0 5px;
    box-shadow: inset 1px 1px 0 0 #ccc, inset 0 -3px 0 -1px rgba(0,0,0,.2);
}

.sub-navigation > a:last-child {
    border-radius: 0 5px 5px 0;
    box-shadow: inset 0 0 0 1px #ccc, inset 0 -3px 0 -1px rgba(0,0,0,.2);
}

.sub-navigation > a {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    color: #97bd00;
    background-color: #f9f9f9;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…B3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=);
    background-size: 100%;
    background-image: linear-gradient(#fff 30%,#f9f9f9);
    box-shadow: inset 2px 2px 0 -1px #ccc, inset 0 -4px 0 -2px rgba(0,0,0,.2)
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.input-group {
    display: table
}

.input-group-content {
    padding-top: 16px;
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    border-collapse: separate;
}


.btn-default-color {
    background-color: #ffffff;
    border-color: #00003f;
    color: #00003f;
}

.btn-xs:hover {
    color: #969c9c;
    text-decoration: none;
}

.btn-checked {
    background-color: #000053 !important;
    border-color: #000000 !important;
    color: #ffffff !important;
}

.tickets {
    padding: 10px;
    margin-bottom: 24px;
    margin-top: 1px;
    background-color: #fff;
    color: #313534 !important;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.tickets-footer {
    margin-top: 10px;
}

.tickets-header {
    background-color: #FCF914;
}

.tickets-header strong {
    margin-left: 10px;
}

.tickets-content, .tickets-extras {
    background-color: #FCF914;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.price {
    margin-right: 15px;
}


.tickets-extras .fields .btn-default-darking{
    margin: 2px;
    border-color: #000;
    background-color: #4CAF50;
}

.tickets-footer em {
    padding-left: 0px;
    text-align: center;
    font-size: 12px;
    display: block;
}

.tickets-footer em input {
    width: 29px;
    height: 18px;
    text-align: center;
}

.tools {
    float: right;
    margin-right: 10px;
}

.tools a {
    margin-left: 2px;
    margin-right: 2px;
    color: #313534 !important;
}

.complete {
    border: 3px solid #67be13 !important;
}

.incomplete {
    border: 3px solid #BF390F !important;
}